@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+CU:wght@100..400&display=swap');

*, *::before, *::after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    font-family: "Lato", sans-serif;
}

.mainsec{
    background-color: #333333;
    width: 100%;
}


.orange{
    color: orangered;
}
  /* header */
header{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding: 30px;
}

.header2{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header22 a{
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
}

.header22 a:hover{
    background-color: #ff6600;
    border-radius: 10px;
    padding: 10px;
}


/* hero section */
.hero{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.hero1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    text-align: left;
}

.hero2{
    text-align: center;
    width: 30%;
}

.hero2 img{
    width: 95%;
    border-radius: 50%;
    height: 400px;
    box-shadow: 0 0 15px 1px #ff6600, 0 0 70px 2px #ff6600;
    border: orangered solid 5px;
}

.hero-font{
     display: flex;
    flex-direction: row;
    font-size: 2rem;
    gap: 10px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 20px;
}

.link-me{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: orangered;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.link-me:hover{
    background-color: #ff6600;
}

.footer_socials{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}


/* about me */
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 30px;
    height: 80vh;
    background-color: black;
}

.about-me1{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 600;
    gap: 10px;
}

.about-me2{
    width: 150px;
    height: auto;
}

.about-me2  img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 15px 1px #ff6600, 0 0 70px 2px #ff6600;
    border: orangered solid 5px;
}

.about-me3{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0 300px;
}

.hire-me{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: orangered;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2 ease-in-out;
}

.hire-me:hover{
    background-color: #ff6600;
    color: aliceblue;
}

/* .services */
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 80vh;
    gap: 40px;
    padding: 30px;
}
.services1{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 2rem;
    
}

.service2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.services2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    text-align: justify;
    align-items: center;
    background-color: orangered;
    border-radius: 20px;
    height: 100%;
    padding: 50px;
}

.services2 li{
    list-style-type: none;
}

.more{
    width: 150px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2 ease-in-out;
    border: none;
}

.more:hover{
    background-color: #ff6600;
    color: #333333;
}

/* project */
.project{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    margin: auto;
    padding: 30px;
    gap: 30px;
}

.pro{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.project4{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.project3{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 600;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.project1{
    width: 27%;
    height: 250px;
    margin: auto;
}

.project1 img{
    width: 100%;
    margin: auto;
    height: 100%;
    border: orangered solid;
    border-radius: 40px;
    cursor: zoom-in;
    transition: all 0.2s ease-in-out;
}

.project1 img:hover {
    border: transparent;
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    padding: 20px;
}

.heading-1{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    padding: 20px;
    font-weight: 600;
    gap: 10px;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form1 input[type="tel"], .form1 input[type="email"], .form1 input[type="text"] {
    width: 700px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    border: orangered solid 1px;
}

.form1 input[type="message"] {
    width: 700px;
    height: 150px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    border: orangered solid 1px;
}

.send{
    width: 120px;
    height: 30px;
    background-color: orangered;
    color: black;
    border-radius: 20px;
    align-self: center;
    cursor: pointer;
    transition: all 0.2 ease-in-out;
}

.send:hover{
    background-color: #ff6600;
    color: #fff;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}